.listRelative {
	background-color: #F9F9F9;
	padding: 24px 0 90px 0;

	.listInner {
		width: 1080px;
		margin: 0 auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;

		//	主数据列表
		.listBox {
			//	列表
			.mainList {
				width: 804px;


			}

			//	加载更多
			.addMore {
				width: 91px;
				margin: 40px auto 0;
				height: 30px;
				border-radius: 16px;
				background-color: var(--white);
				border: 1px solid rgba(235, 235, 235, 1);
				font-size: 12px;
				font-weight: 400;
				cursor: pointer;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				justify-content: center;
				color: rgba(0, 0, 0, 0.8);

				&:hover {
					color: var(--color06f);
				}
			}


			//	没有更多数据
			.emptyText {
				margin-top: 40px;
				font-size: 12px;
				font-weight: 400;
				color: rgba(0, 0, 0, 1);
				line-height: 2.5;
				text-align: center;
			}
		}

		//	相关文章数据列表
		.relativeListBox {
			width: 252px;
			background: var(--white);
			border: 1px solid rgba(235, 235, 235, 1);
			padding: 0 16px;
			-ms-flex-item-align: baseline;
			align-self: baseline;

			//	想改文章标题
			.relativeTitle {
				font-size: 16px;
				font-weight: 400;
				color: var(--black);
				line-height: 3.125;
				text-indent: 9px;
			}
		}

	}
}


@media screen and (max-width: 750px) {
	.listRelative {
		padding: 0.24rem 0 0.5rem 0;

		.listInner {
			width: 100%;
			padding: 0 0.2rem;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;

			//	主数据盒子
			.listBox {
				//	主数据列表
				.mainList {
					width: 100%;

				}

				//	加载更多
				.addMore {
					width: 1.6rem;
					margin: 0.4rem auto 0;
					height: 0.5rem;
					border-radius: 0.3rem;
					font-size: 0.2rem;
				}

				.emptyText {
					margin-top: 0.4rem;
					font-size: 0.2rem;
					line-height: 2.5;
				}
			}

			.relativeListBox {
				width: 100%;
				margin-top: 0.8rem;
				padding: 0 0.2rem;

				.relativeTitle {
					font-size: 0.3rem;
					text-indent: 0.5em;
				}
			}
		}
	}
}