//	分页器，需要单独设置
#assignedCustomer {
	.swiper-pagination-custom {
		padding-top: 48px;
		padding-bottom: 68px;
		position: relative;
		@media screen and (max-width: 750px) {
			padding-top: .48rem;
			padding-bottom: .68rem;
		}
	}
}
