//	菜单列表pc端
.menuPC {
	float: right;
	margin-right: 70px;

	//	菜单的每一项li
	.menuListItem {
		float: left;
		font-size: 14px;
		padding: 0 25px;
		font-weight: 500;
		position: relative;
		cursor: pointer;
		line-height: 64px;
		display: inline-block;
		//	最后两个元素，是zn/en
		&:nth-last-child(2), &:nth-last-child(1) {
			padding: 0 10px;
			position: relative;
		}

		//	无论是zn还是en，是倒数第二个元素
		&:nth-last-child(2)::before {
			content: "/";
			display: block;
			position: absolute;
			top: 0;
			height: 0;
			right: -2px;
			font-size: 12px;
			color: var(--color999);
		}

		//	底部横线
		&::after {
			content: '';
			display: block;
			border-radius: 2px;
			position: absolute;
			height: 3px;
			line-height: 0;
			background-color: transparent;
			width: 70%;
			left: 50%;
			bottom: 0;
			transform: translateX(-50%) scaleX(0.5);
			transition: transform .3s;
		}

		//	鼠标浮于上方
		&:hover {
			//	底部横线-激活态
			&::after {
				transform: translateX(-50%) scaleX(1);
				background-color: var(--color06f);
			}

			.navLevel2 {
				display: block;
			}
		}

		//	链接
		& > a {
			color: rgba(0, 0, 0, 0.6);
		}
	}

	//	激活的颜色
	.activeColor, .menuListItem:hover > a {
		a {
			color: var(--color06f);
		}

		&::after {
			transform: translateX(-50%) scaleX(1);
			background-color: var(--color06f);
		}
	}

	//	是顶部，并且在首页
	&.isTopAndHome {
		.menuListItem > a {
			color: var(--color999);
		}

		//	激活的项目
		& .activeColor {
			&::after {
				transform: translateX(-50%) scaleX(1);
				background-color: var(--white);
			}
		}
	}

	//	子列表
	.navLevel2 {
		display: none;
		width: 150%;
		position: absolute;
		left: 50%;
		margin-left: -75%;
		top: 64px;
		background-color: var(--white);
		font-size: 14px;
		text-align: center;
		line-height: 52px;

		& > dd {
			text-align: center;
			position: relative;

			a {
				display: block;
				color: rgba(0, 0, 0, 0.6);
				cursor: pointer;
			}

			&:hover {
				background: var(--colorf6f6f6);
				//	最底层列表
				.navLevel3 {
					display: block;
				}

				& > a {
					color: var(--black);
					background-color: var(--colorf9);
				}
			}

			//	最底层列表
			.navLevel3 {
				background: var(--white);
				position: absolute;
				width: 100%;
				left: 100%;
				top: 0;
				display: none;

				dd {

					&:hover {
						background: var(--colorf6f6f6);

						a {
							color: var(--color06f);
						}
					}
				}
			}
		}
	}
}