.container {
	background: linear-gradient(90deg, rgba(10, 17, 33, 1) 0%, rgba(18, 25, 41, 1) 100%);
	min-width: 1080px;
	margin: 0 auto;

	//	标题
	.title {
		text-align: center;
		color: var(--white);
		line-height: 70px;
		font-size: 50px;
		padding: 90px 0 50px 0;
	}

	//	轮播
	.customerList {
		width: 1080px;
		margin: 0 auto;

		.swiperItem {
			width: 200px;
			//	height: 126px;
			margin: 20px 20px 0 0;
			float: left;

			&:nth-child(5n) {
				margin-right: 0;
			}

			img {
				width: 100%;
				height: 149px;
				display: block;
			}
		}
	}
}

@media screen and (max-width: 750px) {
	.container {
		padding: 0 5%;
		width: 100%;
		min-width: 0;

		.title {
			line-height: 0.5rem;
			font-size: 0.36rem;
			padding: 0.45rem 0 0.25rem 0;

		}

		.customerList {
			width: auto;

			.swiperItem {
				width: 24%;
				height: auto;
				margin: 1% 0 0 1%;

				&:nth-child(4n) {
					margin-right: 0;
				}

				img {
					height: 1.21rem;
				}
			}
		}
	}
}