.perception {
	background: #1A1A1A;
	padding: 70px 0 0 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;


	.suite {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	.bottomDesc {
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		margin-top: 41px;
		padding-top: 22.5319%;
		width: 100%;
		height: auto;
		overflow: hidden;
	}

	@media screen and (max-width: 750px) {
		& {
			padding: 0.7rem 0 0 0;

			.suite {

			}

			.bottomDesc {
				height: auto;
				margin-top: 0.41rem;
				padding-top: 22.5319%;
				width: 90%;
			}
		}
	}
}

.item {
	margin: 25px 20px 0 20px;
	width: 360px;
	text-align: center;

	.imgCenter2 {
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		width: 100%;
		height: 240px;
	}

	.name {
		font-size: 24px;
		font-weight: 500;
		color: #fff;
		line-height: 1.375;
		margin-top: 24px;
	}

	.nameDesc {
		font-size: 16px;
		font-weight: 400;
		color: rgba(255, 255, 255, .6);
		line-height: 1.625;
		margin-top: 8px;
	}

	@media screen and (max-width: 750px) {
		& {
			margin: 0.25rem 0.2rem 0 0.2rem;
			width: auto;
			-webkit-box-flex: 1;
			-ms-flex: 1;
			flex: 1;

			.imgCenter2 {
				width: 100%;
				height: auto;
				padding-top: 66.6666%;
			}

			.name {
				font-size: 0.2rem;
				margin-top: 0.24rem;
			}

			.nameDesc {
				font-size: 0.14rem;
				line-height: 1.625;
				margin-top: 0.08rem;
			}
		}
	}
}