#projectBanner {
	padding-top: 62.5%;

	.swiper-pagination-custom {
		bottom: 50px;
	}

	@media screen and (max-width: 750px) {
		padding-top: 86.4%;
		.swiper-pagination-custom {
			bottom: .2rem;
		}
	}
}

