.bannerSlider {
	//	6 是 核心技术
	&.pb6 {
		background-color: #000;
		background-repeat: no-repeat;
		background-position: 50% 0;
		background-position-x: 50%;
		background-position-y: 0px;
		background-size: 100% auto;

		.sliderDescription {
			width: 921px;
			@media screen and (max-width: 750px) {
				width: 88%;
			}
		}
	}

	//	12 是 天工开物
	&.pb12 {
		background-color: #000;
		background-repeat: no-repeat;
		background-position: 50% 0;
		background-position-x: 50%;
		background-position-y: 0px;
		background-size: 100% auto;

		.sliderDescription {
			width: 800px;
			@media screen and (max-width: 750px) {
				width: 6.8rem;
			}
		}
	}

	//	13 是 高级别辅助驾驶
	&.pb13 {
		background-color: #000;
		background-repeat: no-repeat;
		background-position: 50%;
		background-position-x: 50%;
		background-position-y: center;
		background-size: cover;

		.sliderDescription {
			width: 942px;
			@media screen and (max-width: 750px) {
				width: 7.1rem;
			}
		}
	}

	//	14 是 自动驾驶
	&.pb14 {
		background-color: #000;
		background-repeat: no-repeat;
		background-position: 50%;
		background-position-x: 50%;
		background-position-y: center;
		background-size: cover;

		.sliderDescription {
			width: 710px;
			@media screen and (max-width: 750px) {
				width: 6.4rem;
			}
		}
	}

	//	16 是 智能座舱
	&.pb16 {
		background-color: #000514;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: auto 100%;

		.sliderDescription {
			width: 880px;
			@media screen and (max-width: 750px) {
				width: 90%;
			}
		}
	}

	//	17 是 高精地图
	&.pb17 {
		background-color: #000;
		background-repeat: no-repeat;
		background-position: 50% 0;
		background-position-x: 50%;
		background-position-y: 0px;
		background-size: 100% auto;

		.sliderDescription {
			width: 968px;
			@media screen and (max-width: 750px) {
				width: 6.4rem;
			}
		}
	}

	//	18 是 智能物联网
	&.pb18 {
		background-color: #000;
		background-repeat: no-repeat;
		background-position: 50% 0;
		background-position-x: 50%;
		background-position-y: 0px;
		background-size: 100% auto;

		.sliderDescription {
			width: 1044px;
			@media screen and (max-width: 750px) {
				width: 6.84rem;
			}
		}
	}


	//	媒体
	.sliderItemImg, .sliderItemVideo {
		position: relative;
		width: 100%;
		height: auto;
	}

	//	文字
	.sliderText {
		width: 100%;
		left: 0;
		bottom: 77px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		background-repeat: no-repeat;
		position: absolute;
		text-align: center;

		.sliderTitle {
			font-size: 40px;
			font-weight: 700;
			color: #fff;
			line-height: 1.25;
			text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
		}

		.sliderDescription {
			font-size: 16px;
			color: rgba(255, 255, 255, .8);
			line-height: 2;
			margin-top: 16px;
		}

	}

	@media screen and(max-width: 750px) {
		& {
			.sliderText {
				bottom: 0.4rem;

				.sliderTitle {
					font-size: 0.4rem;
					text-shadow: 0 0 0.06rem rgba(0, 0, 0, 0.5);

					&.textSmallSize {
						font-size: .3rem;
					}
				}

				.sliderDescription {
					font-size: 0.24rem;
					margin-top: 0.24rem;

					&.textSmallSize {
						font-size: .16rem;
						margin-top: .16rem;
					}
				}
			}
		}
	}
}