.aiotBox {
	background: #121212;
	text-align: center;
	overflow: hidden;
	padding-top: 70px;

	.earchDec {
		margin: 137px auto 0;
		width: 100%;
		padding-top: 21.171875%;
		background-repeat: no-repeat;
		background-position: 50% 100%;
		background-size: 100% auto;
	}

	@media screen and (max-width: 750px) {
		& {
			padding-top: 1rem;

			.earchDec {
				margin-top: 1rem;
			}
		}
	}
}