.wrap {
	position: relative;

	.scrollFixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: +2;
		background-color: lightblue;
	}

	.scrollRelative {
		position: relative;
		background-color: cornsilk;
	}
}